    /*slider*/

    .slider {
        display: flex;
    }

    .slider-information {
        display: flex;
        margin-top: 89px;
        background-color: #EEE4DB;
    }

    .slider-pagination {
        margin: 17px 44px 0 28px;
    }
    
        .slider-page-number {
        margin: 0;
        font-family: Montserrat;
        font-weight: 300;
        font-size: 60px;
        line-height: 73px;
        color: rgba(30, 6, 6, 0.05);
    }

    .slider-page-buttons {
        margin: 10px 0 0 0;
        padding: 0;
    }

    .slider-page {

    }
    
    .slider-active-page {
        width: 31px;
        height: 3px;
        background: rgba(30, 6, 6, 0.6);
        border: none;
    }
    
    .slider-hidden-page {
        width: 31px;
        height: 3px;
        background: #D6CAC2;
        border: none;
    }
    
    .slider-description {
        margin: 89px 5px 0 0;
    }

    .slider-title {
        margin: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 110%;
        text-transform: uppercase;
        color: #1E0606;
    }
    
    .slider-description-article {
        font-family: Crimson Text;
        font-style: italic;
        font-size: 20px;
        line-height: 25px;
        color: #1E0606;
    }
    
    .slider-benefits {
        margin: 0;
        padding: 11px 0;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #C29974;
        text-align: center;
    }
    
        /*Category products*/
    
    .block-title {
        margin-top: 90px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        color: #1E0606;
    }
    
    .category-card-title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .category-list {
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .block-description {
        color: #1E0606;
    }
    
    .first-card-block {
        background-color: #DBE4DB;
    }
    
    .second-card-block {
        background-color: #EADDD3;
    }
    
    .third-card-block {
        background-color: #f8dae3;
    }
    
    .fourth-card-block {
        background-color: #D5D4E1;
    }

    .category-pagination {
        display: flex;
        margin-top: 33px;
    }

    .category-control {
        margin-right: 6px;
    }

    .category-description {
        margin-left: 14px;
        width: 580px;
    }
    
        /*Service block*/
    
        .services {
            display: flex;
            margin-top: 90px;
        }
    
        .service-picture {
            margin-right: 60px;
        }

        .right-service-block {
            margin-right: 100px;
        }

        .service-title {
            margin-left: 60px;
        }

    .service-list {
        padding: 0;
        font-family: Crimson Text;
        font-style: italic;
        font-size: 26px;
        line-height: 32px;
        color: #1E0606;
    }
    
    .active-service-list {
        padding-left: 60px;
        font-weight: bold;
        
        background-color: rgba(112, 187, 220, 0.2);;
    }

    .hidden-service-list {
        margin-left: 60px;
    }

    .services-description {
        margin-left: 60px;
    }
    
    .service-button {
        margin: 26px 0 0 60px;
    }

        /*partners*/

        .partners {
            margin-top: 90px;
        }

        .partners-list {
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: space-between;
        }

        /*About us*/
    
        .about-us {
            display: flex;
            margin-top: 90px;
        }


    .about-us-subtitle {
        font-family: Crimson Text;
        font-style: italic;
        font-weight: normal;
        font-size: 26px;
        line-height: 32px;
        color: #1E0606;
        text-transform: capitalize;
    }

    /*Index bottom form*/

.index-popup {
    background-color: #E5EAF8;
}

.index-popup-inputs {
    border-width: 0;
}

.index-popup-inputs label {
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #1E0606;
}

.index-user-processing {
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #1E0606;
}

.popup-subscribe {
    text-transform: uppercase;
    color: #E1E1E1;
    border: 0;
    background-color: #C1C1C1;
}

    /*index popup*/

.index-popup {
    width: 680px;
    margin: 0 auto;
}

