/*general*/

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.img {
    max-width: 100%;
}

*, 
*::before, 
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 110px;
}

.button {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    background: #000000;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border: 0;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*heder*/

.header {
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 40px;
}

.index-link {
    margin-right: 60px;
}

.header-nav-list {
    display: flex;
    padding: 0;
    text-transform: uppercase;
}

.header-nav {
    margin-right: auto;
}

.header-nav-link {
    margin-right: 20px;
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: black;
}

.header-search {
    margin-right: 24px;
}

.button-contact {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

/*top main*/

.page-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

.home-page-inactive {
    font-family: Crimson Text;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
}

.active-page {
    font-family: Crimson Text;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    opacity: 0.5;
}

/*Footer*/

.footer {
    background: #434343;
}

.footer-columns {
    display: flex;
    list-style: none;
}

.footer-column-title {
    color: #AAAAAA;
}

.footer-item-link {
    color: #FFFFFF;
    text-decoration: none;
}

.join-user-email {
    color: #EBEBEB;
    background-color: #666666;
}

.footer-bottom {
    display: flex;
    color: #FFFFFF;
}

.footer-rating-wrapper {
    display: flex;
}

.footer-rating {
    display: flex;
}

.footer-bottom-author {
    color: #A2A2A2;
}


