

.goods-filter-form {
    margin-top: 50px;
    background-color: rgba(125, 151, 218, 0.2);
}

.details-goods {
    display: flex;
}

.details-block-title {
    font-weight: bold;
}

/**range stile**/
.range{
    width: 188px;
    padding-top: 79px;
}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px;
}  

.field .value{
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.field .value.left{
    top: 16px;
    left: 0px;
}
.field .value.right{
    top: 16px;
    left: 174px;
}

.cost-title {
    position: absolute;
    top: -47px;
    left: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.range input{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #000000;
    opacity: 0.5;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
}

.range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-style: solid;
    border-color: #C29974;
    border-width: 9px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}

.range input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-style: solid;
    border-color: #C29974;
    border-width: 9px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}

.range input::-moz-range-progress{
    background: #C29974; //this progress background is only shown on Firefox
}
/**end range stile**/

.details-form-border {
    border-width: 0;
}

.goods-description {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.goods-cost {
    font-weight: bold;
}


/*pagination block*/

.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 3px;
    margin-left: 3px;
}

.pagination-control {
    border: none;
    background: none;
}

.blog-card-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    padding: 0;
}

.blog-number {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    border: 0;
    background: none;
    width: 74px;
}

.blog-number-active {
    color: #C29974;
}

.blog-number-inactive {
    color: #1E0606;
}
