.wrapper {
    background-color: gray;
}


.rating {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

.rating-legend {
    position: absolute;
    margin-bottom: 0;
    padding: 0;
}
/*group*/

.rating-group-wrapper {
    margin-left: 140px;
}

.rating-group {
    position: relative;
    width: 80px;
    height: 17px;
    background-image: url(/images/Star.svg);
    background-size: 16px auto;
    background-repeat: repeat-x;
}

/*star*/

.rating-star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 16px;
    background-size: 16px auto;
    font-size: inherit;
    appearance: none;
    background-repeat: repeat-x;
}

.rating-star:checked,
.rating-star:hover {
    background-image: url(/images/Star-active.svg);
}

.rating-star:hover ~ .rating-star {
    background-image: url(/images/Star.svg);
}

.rating-star:focus {
    outline: none;
}

/*options*/

.rating-star:nth-of-type(1) {
    z-index: 5;
    width: 16px;
    margin-right: 2px;
}
.rating-star:nth-of-type(2) {
    z-index: 4;
    width: 32px;
}
.rating-star:nth-of-type(3) {
    z-index: 3;
    width: 48px;
}
.rating-star:nth-of-type(4) {
    z-index: 2;
    width: 64px;
}
.rating-star:nth-of-type(5) {
    z-index: 1;
    width: 80px;
}