


/**Ромб - стрелка**/


.arrow-2 {
    cursor: pointer;
    height: 29px;
    width: 17px;
    position: relative;
    margin: 10px;
}
.arrow-2-top, 
.arrow-2-bottom {
    background: rgba(30, 6, 6, 0.12);
    height: 10px;
    left: -30px;
    position: absolute;
    top: 60px;
    width: 100px;
}
.arrow-2-top {
    top: 64px;
}
.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}
